<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProfile name="default">
        <property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %-5level %highlight(%-36logger{36}) - %msg%n%throwable" />
        <property name="COLOR_ERROR" value="red" />
        <property name="COLOR_WARN" value="yellow" />
    </springProfile>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.back" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>